.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.story{
  display: flex;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
  justify-content: flex-start;
}
.rev{
  flex-direction: row-reverse;
}
.story img{
  border-radius: 5px;
}